* {
  padding: 0;
  margin: 0; }

body {
  overflow-x: hidden; }

.section {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: -webkit-calc(100% - 150px);
  width: calc(100% - 150px);
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }

.content_container {
  font-size: 20px;
  color: #fff; }

.navigation_container {
  width: 150px; }

.navigation {
  position: fixed;
  top: 0;
  left: 0;
  width: 150px;
  bottom: 0;
  padding: 20px 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  background: pink; }

.main_container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }

.preloader {
  position: fixed;
  top: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  left: 0;
  -webkit-transition: all 2s ease-in-out;
  transition: all 2s ease-in-out;
  right: 0;
  z-index: 10000;
  bottom: 0;
  background: coral; }

.loader {
  width: 20px;
  display: inline-block;
  height: 20px;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  background: #fff;
  position: relative;
  -webkit-animation: load 1s infinite linear;
          animation: load 1s infinite linear; }
  .loader:nth-child(2) {
    -webkit-animation-delay: .3s;
            animation-delay: .3s; }
  .loader:nth-child(3) {
    -webkit-animation-delay: .6s;
            animation-delay: .6s; }

@-webkit-keyframes load {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0); }
  25% {
    -webkit-transform: translateY(-20px);
            transform: translateY(-20px); }
  50% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px); }
  75% {
    -webkit-transform: translateY(20px);
            transform: translateY(20px); }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0); } }

@keyframes load {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0); }
  25% {
    -webkit-transform: translateY(-20px);
            transform: translateY(-20px); }
  50% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px); }
  75% {
    -webkit-transform: translateY(20px);
            transform: translateY(20px); }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0); } }

.close_preloader {
  -webkit-transform: translateX(200%);
      -ms-transform: translateX(200%);
          transform: translateX(200%); }
